*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
height:100vh;
background:linear-gradient(135deg,#0b5ed7,#4dabf7);
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
background:white;
padding:40px;
border-radius:10px;
width:360px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
}

.login-container h2{
color:#0b5ed7;
margin-bottom:25px;
}

.input-group{
margin-bottom:18px;
text-align:left;
}

label{
font-size:14px;
color:#333;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:12px;
background:#0b5ed7;
border:none;
color:white;
font-weight:bold;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#094bb5;
}

.back-link{
margin-top:15px;
display:block;
color:#0b5ed7;
text-decoration:none;
font-size:14px;
}